<section class="">
    <!-- <div class="columns">
        <div class="column is-11">
            <input class="input is-primary" type="text" placeholder="Search...." [(ngModel)]="search_val" (keyup.enter)="perform_search()">
        </div>
        <div class="column is-1">
            <button class="button" (click)="perform_search()">
                <span class="icon is-small has-text-primary">
                    <i class="fas fa-eye"></i>
                </span>
            </button>
        </div>
    </div> -->

    <input class="input is-primary" type="text" placeholder="Search...." [(ngModel)]="search_val" #search>
</section>