<div class="section">
	<div class="is-size-1 mt-6 has-text-justified has-text-weight-bold box">
		<div class="has-text-danger has-text-centered is-underlined blink">IMPORTANT NOTICE</div> <br/>
		You have successfully logged out of Bioassay portal. But you might still be logged in OAuth2.0 SSO. 
		Anyone can still login to Bioassay portal using your OAuth2.0 session and without filling your credentials.
		So we advise you to close this browser window to logout from all the portals linked with OAuth2.0 SSO such as Bioassay and IDS portal.
	</div>
</div>