
<p class="title">Process 10H form</p>

<progress class="progress is-small is-primary" style="height: 5px;" max="100" *ngIf="is_loading"></progress>

<div class="card" *ngIf="!is_loading">
	<header class="card-header has-background-primary">
		<p class="card-header-title has-text-white">Relevant details</p>
		<button class="card-header-icon has-text-white" aria-label="more options" *ngIf="is_personal_details_opened" (click)="is_personal_details_opened = !is_personal_details_opened">
			<span class="icon">
				<i class="fas fa-angle-down" aria-hidden="true"></i>
			</span>
		</button>
		<button class="card-header-icon has-text-white" aria-label="more options" *ngIf="!is_personal_details_opened" (click)="is_personal_details_opened = !is_personal_details_opened">
			<span class="icon">
				<i class="fas fa-angle-up" aria-hidden="true"></i>
			</span>
		</button>
	</header>
	<div class="card-content" [hidden]="is_loading || !is_personal_details_opened" *ngIf="personal_details_obj != null && res_10H != null">
		<div class="columns is-desktop">

			<div class="column">
				<p class="has-text-weight-bold">Name</p>
			</div>
			<div class="column">
				<p>{{personal_details_obj.name}}</p>
			</div>


			<div class="column">
				<p class="has-text-weight-bold">Division</p>
			</div>
			<div class="column">
				<p>{{res_10H.division_name}}</p>
			</div>


			<div class="column">
				<p class="has-text-weight-bold">Plant</p>
			</div>
			<div class="column">
				<p>{{res_10H.plant_name}}</p>
			</div>

		</div>

		<div class="columns is-desktop">

			<div class="column">
				<p class="has-text-weight-bold">TLD</p>
			</div>
			<div class="column">
				<p>{{selected_tld_no}}</p>
			</div>


			<div class="column">
				<p class="has-text-weight-bold">Worker type</p>
			</div>
			<div class="column">
				<p>{{res_10H.worker_type}}</p>
			</div>


			<div class="column">
				<p class="has-text-weight-bold">CC no</p>
			</div>
			<div class="column">
				<p>{{selected_cc_no}}</p>
			</div>

		</div>

		<div class="columns is-desktop">

			<div class="column">
				<p class="has-text-weight-bold">Sample collected on</p>
			</div>
			<div class="column">
				<p>{{res_10H.collectionDate}}</p>
			</div>


			<div class="column">
				<p class="has-text-weight-bold">HP token</p>
			</div>
			<div class="column">
				<p>{{res_10H.hpToken}}</p>
			</div>


			<div class="column">
				<p class="has-text-weight-bold">Monitoring type</p>
			</div>
			<div class="column">
				<p>{{res_10H.tom}}</p>
			</div>

		</div>


		<div class="columns is-desktop">

			<div class="column is-2">
				<p class="has-text-weight-bold">Radionuclides</p>
			</div>
			<div class="column">
				<p>{{selected_radionuclides}}</p>
			</div>


			<div class="column is-2">
				<button class="button is-primary is-outlined" (click)="view_10H_form()">View 10H</button>
			</div>

		</div>
	</div>
</div>



<nav class="navbar is-link has-shadow" role="navigation" aria-label="main navigation" [hidden]="is_loading">
	<div class="navbar-start">
		<span class="navbar-item has-text-weight-bold" style="font-size: 1em;">Monitoring details</span>
	</div>

	<div class="navbar-end">
		<div class="navbar-item">
			<button class="card-header-icon has-text-white" aria-label="more options" *ngIf="is_monitoring_details_opened" (click)="is_monitoring_details_opened = !is_monitoring_details_opened">
				<span class="icon">
					<i class="fas fa-angle-down" aria-hidden="true"></i>
				</span>
			</button>
			<button class="card-header-icon has-text-white" aria-label="more options" *ngIf="!is_monitoring_details_opened" (click)="is_monitoring_details_opened = !is_monitoring_details_opened">
				<span class="icon">
					<i class="fas fa-angle-up" aria-hidden="true"></i>
				</span>
			</button>
		</div>
	</div>
</nav><br/>


<div style="margin-left: 1.5rem;" [hidden]="is_loading || !is_monitoring_details_opened">
	<div class="columns is-desktop">
		<div class="column is-6">
			<div class="columns is-desktop" *ngIf="!is_enable_volume">
				<div class="column is-4"><p class="has-text-weight-bold">Sample weight (g)</p></div>
				<div class="column is-8">
					<input class="input is-primary " type="number" placeholder="" maxlength="10" [(ngModel)]="sample_wt">
				</div>
			</div>
			<div class="columns is-desktop" *ngIf="is_enable_volume">
				<div class="column is-4"><p class="has-text-weight-bold">Sample vol. (ml)</p></div>
				<div class="column is-8">
					<input class="input is-primary " type="number" placeholder="" maxlength="10" [(ngModel)]="sample_vol">
				</div>
			</div>
			
			<div class="columns is-desktop">
				<div class="column is-4">
					<p class="has-text-weight-bold">Received on</p>
				</div>
				<div class="column is-8">
					<input class="input is-medium" id="dtReceivedOn" type="datetime" [(ngModel)]="sample_receipt_date">
				</div>
			</div>
			
		</div>

		
		<div class="column is-6">
			<div class="columns is-desktop">
				<div class="column is-4"><p class="has-text-weight-bold">Remarks</p></div>
				<div class="column is-8 field">
					<div class="control">
						<textarea class="textarea is-primary is-small" placeholder="Specify remarks here..." maxlength="512" [(ngModel)]="sample_remarks"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>

	<button class="button is-large is-primary" (click)="accept_the_form()">Accept the form</button>
</div>